<section id="talent-acquisition" class="edhub-view-mtop">
    <h1>Soon to be talent acquisition proto</h1>
    <h4>For organization = {{cTalentAcquisition.curOrganization}}</h4>
    <md-button class="md-primary md-float" ng-click="cTalentAcquisition.talentSubmit()">
        Create Talent Opportunity
    </md-button>

    <div layout="row" layout-align="center center">
        <div class="edhub-form1" flex-gt-xs="50" flex="100" ng-hide="cTalentAcquisition.hideForm">
            <label for="name">Job Title</label>
            <input id="name" type="text" ng-model="cTalentAcquisition.talentInfo.orgName">

            <br><br>

            <label for="jobDescription">Job Description</label>
            <input id="jobDescription" type="text" ng-model="cTalentAcquisition.talentInfo.aboutTheOrganization">
        </div>
    </div>

    <h2>Talent Opportunities posted for your organization</h2>
    <ul>
        <li ng-repeat="job in cTalentAcquisition.postedOpportunities">
            Name: {{job.curOrganization}}, {{job.orgName}}, &nbsp;
            <button ng-click="cTalentAcquisition.deleteJob(job)">Delete</button>
        </li>
    </ul>
</section>