<div id="edhub-tab-join-view" layout="column" class="edhub-view-mtop">
    <md-content>
        <div layout="row" layout-align="center center">
            <div flex flex-md="80" flex-gt-md="80">
                <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-swipe-content>
                    <md-tab label="TALENT">
                        <div layout="column" layout-gt-xs="row" layout-align="center center" layout-padding layout-wrap>
                            <!-- Left side, "sales pitch" -->
                            <div flex="nogrow">
                                <div layout="column" layout-align="center center">
                                    <img src="images/signup.png" alt="signup">
                                </div>
                            </div>
                            <!-- Right side, input form -->
                            <div id="edhub-signup-form" flex>
                                <form name="userForm" ng-submit="signup.authSignup()" class="md-whiteframe-8dp">
                                    <div layout="column" layout-padding>
                                        <p ng-class="{'edhub-general-error': rootAuthError}"><strong>{{rootAuthError}}</strong></p>
                                        <h2 ng-if="signup.error" class="edhub-general-error">
                                            <small>{{ signup.error }}</small>
                                        </h2>

                                        <!-- email -->
                                        <md-input-container class="md-block" flex>
                                            <label>Email</label>
                                            <input type="email" name="email" ng-model="signup.email" required>
                                            <!--<p>email: {{signup.email}}</p>-->
                                        </md-input-container>

                                        <!-- password -->
                                        <md-input-container class="md-block" flex>
                                            <label>Password</label>
                                            <input type="password" ng-model="signup.pw" required>
                                            <!--<p>pass: {{signup.pw}}</p>-->
                                        </md-input-container>

                                        <!-- buttons at bottom of form -->
                                        <div layout="row" layout-align="start center">
                                            <md-button type="submit" class="md-primary md-raised edhub-w33">Signup</md-button>
                                            <p><i>... or</i></p>
                                            <md-button class="md-secondary md-raised" ng-click="signup.go2login()">Login</md-button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="EMPLOYER">
                        <h4>EMPLOYER</h4>
                        <h1>(2)</h1>
                        <h2>Ello Good sir !</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto beatae consequatur
                            doloribus ex minus perspiciatis porro qui sequi? Asperiores at earum facere hic id ipsum
                            pariatur quisquam quo recusandae?</p>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </md-content>

    <br><br>

    <div>
        <h1>Hello World ^_^/</h1>
    </div>
</div>

