body {
    padding: 0;
}

.page-wrapper {
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

.page-wrapper .logo-img {
    margin-top: -10px;
}


.main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.sidebar {
    /*display: inline-block;*/
    /*width: 19.5%;*/
    vertical-align: top;
    /*
    height: 100%;
    F26522
    */
    background: #c34b1e;
    position: relative;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.sidebar .slack-name {
    background: #ad3b10;
    padding: 15px 0px 15px 15px;
}

.sidebar .slack-name h2 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sidebar .channel-list {
    margin-top: 50px;
    background: #c34b1e;
    position: relative;
}

.sidebar .channel-list .channel a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    padding: 3px 0px 3px 15px;
    width: 90%;
    font-weight: 300;

    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sidebar .channel-list .channel a:hover {
    text-decoration: none;
    background: #ffaa0a;
}

.sidebar .channel-list .channel a.selected {
    background: #4c9689;
    color: #fff;
    text-decoration: none !important;
}

.sidebar .channel-list .channel.create {
    font-style: italic;
    cursor: pointer;
}

.sidebar .channel-list .list-head {
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
}

.sidebar .my-info {
    position: fixed;
    bottom: 0;
    padding: 15px;
    background: #cecece;
    width: 19.5%;
}

.sidebar .my-info .user-pic {
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 44px;
    border-radius: 4px;
}

.sidebar .my-info .user-info {
    padding-left: 5px;
    display: inline-block;
    vertical-align: top;
}

.sidebar .my-info .user-info .user-name {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.sidebar .my-info .user-info .options {
    color: #999;
    font-size: 12px;
}

.sidebar .my-info .user-info .options a {
    color: #999;
    font-size: 12px;
}

.sidebar .presence {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    background: #ab9ba9;
    vertical-align: middle;
}

.sidebar .presence.online {
    background: #99d04a;
}

.message-pane {
    vertical-align: top;
    overflow-y: scroll;
    padding: 55px 15px 65px 15px;
}

.message-pane .header {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 2;
}

.message-pane .header h1 {
    padding: 12px 0 10px 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    color: #555459;
    font-weight: 900;
}

.message-pane .message-form {
    position: fixed;
    bottom: 0;
    padding: 0 15px 15px 0;
    background: #fff;
    width: 79%;
}

.message-pane .message-wrap {
    position: relative;
    margin-top: 15px;
}

.message-pane .message-wrap .user-pic {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
}

.message-pane .message-wrap .message-info {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}

.message-pane .message-wrap .message-info .user-name {
    color: #555459;
    font-weight: 900;
}

.message-pane .message-wrap .message-info .user-name span {
    color: #ccc;
    font-weight: normal;
    font-size: 10px;
}
