
.plamigo-h330px {
    height: 330px;
}

.plamigo-font-light {
    color: #f1f1f1 !important;
}

.plamigo-round-btn {
    border-radius: 30px;
    padding-left: 12px;
    padding-right: 12px;
}


/**
end of file
**/