<!-- ctrl=LandingCtrl as landingCtrl -->
<section id="edhub-landing-section">

    <!-- START:  Hero Landing -->
    <section id="j-main-landing-hero" class="j-landing-hero j-overflow-hidden" layout="column"
             layout-align="center center" layout-padding>
        <div class="j-landing-hero-text">
            <h1>Entirely Pets</h1>
            <p style="font-weight: lighter">
                <small>Avenger Themed Food</small>
            </p>
        </div>
    </section>

    <!-- Search Result tool -->
    <md-toolbar id="edhub-recent-jobs-landing-title" class="md-padding j-text-center">
        <div layout="row" layout-padding layout-margin>
            <md-button ng-click="landingCtrl.changePresentState('dog')">Dogs</md-button>
            <md-button ng-click="landingCtrl.changePresentState('cat')">Cats</md-button>
            <md-button ng-click="landingCtrl.changePresentState('all')">
                All Pets <ng-md-icon data-icon="favorite"></ng-md-icon>
            </md-button>

            <md-input-container>
                <label>Categories</label>
                <md-select ng-model="selectedToppings" multiple="">
                    <md-optgroup label="Meats">
                        <md-option ng-value="topping.name"
                                   ng-repeat="topping in toppings | filter: {category: 'meat' }">
                            {{topping.name}}
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="Veggies">
                        <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">
                            {{topping.name}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Subcategories</label>
                <md-select ng-model="subcategories" multiple="">
                    <md-optgroup label="Meats">
                        <md-option ng-value="topping.name"
                                   ng-repeat="topping in toppings | filter: {category: 'meat' }">
                            {{topping.name}}
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="Veggies">
                        <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">
                            {{topping.name}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
    </md-toolbar>

    <p ng-if="selectedToppings">
        You ordered a {{size.toLowerCase()}} pizza with {{printSelectedToppings()}}.
    </p>

    <div ng-switch="landingCtrl.presentState">
        <div ng-switch-when="all">
            <h1>All pets <3 </h1>
<!--            <landing-data></landing-data>-->
        </div>

        <div ng-switch-when="cat">
            <h1>Avengers themed Cat food</h1>
<!--            <landing-data></landing-data>-->
        </div>

        <div ng-switch-when="dog">
            <h1>Avengers themed Dog food</h1>
<!--            <landing-data></landing-data>-->
        </div>
    </div>
    
</section>