<!-- Horizontal Navigation -->
<md-nav-bar data-md-selected-nav-item="currentNavItem" data-nav-bar-aria-label="navigationLinks">

    <!-- Home Link -->
    <md-nav-item data-md-nav-href="#!/" name="view1">
        <ng-md-icon data-icon="pets"></ng-md-icon>
        <ng-md-icon data-icon="pets"></ng-md-icon>
        <b>Entirely Pets</b>
    </md-nav-item>

    <md-nav-item data-md-nav-href="#!/chat" name="view2">
        <ng-md-icon data-icon="chat_bubble"></ng-md-icon>
    </md-nav-item>

    <md-nav-item data-md-nav-href="#!/cart" name="view3">
        <ng-md-icon data-icon="shopping_cart"></ng-md-icon>
    </md-nav-item>

</md-nav-bar>