<!-- Horizontal Navigation -->
<md-nav-bar ng-show="coreEdhubHorizontalState" md-selected-nav-item="currentNavItem"
            nav-bar-aria-label="navigationLinks">

    <!-- Home Link -->
    <md-nav-item md-nav-href="#!/">
        <ng-md-icon data-icon="pets"></ng-md-icon>
        <ng-md-icon data-icon="pets"></ng-md-icon>
        <b>Entirely Pets</b>
    </md-nav-item>

    <!-- #!/learning-management
    <md-nav-item ng-if="!ccCurrentUser" md-nav-href="#!/top-rated">
        Top Rated
    </md-nav-item>

    <md-nav-item ng-if="!ccCurrentUser" md-nav-href="">
        Near Me
    </md-nav-item>
    -->

    <div flex layout="row" layout-align="end center">
        <!-- chat bubble // ng-if="rootEdhubAuthUser.email"  -->
        <md-nav-item data-md-nav-href="#!/events">
            <ng-md-icon data-icon="chat_bubble"></ng-md-icon>
        </md-nav-item>

        <!-- shopping cart // ng-if="!rootEdhubAuthUser.email" -->
        <md-nav-item  data-md-nav-href="#!/signup">
            <ng-md-icon data-icon="shopping_cart"></ng-md-icon>
        </md-nav-item>
    </div>

</md-nav-bar>