<div layout="vertical">
    <!-- md-is-locked-open="$mdMedia('gt-sm')" -->
    <md-sidenav class="md-sidenav-left md-whiteframe-2dp" data-md-component-id="core-sidenav">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h1 class="edhub-text-center w100pct">WatzLit</h1>
            </div>
        </md-toolbar>
        <md-list flex>
            <md-list-item data-ng-href="#!/" flex ng-click="coreEdhubToggleSideNav()">
                Home
            </md-list-item>

            <!--
            <md-list-item data-ng-href="#!/signup" flex ng-click="coreEdhubToggleSideNav()">
                Signup/Login
            </md-list-item>
            -->

            <!--
            <md-list-item data-ng-href="#!/post" flex ng-click="coreEdhubToggleSideNav()">
                Post
            </md-list-item>
            -->

            <!--
            <md-list-item data-ng-href="#!/landing" ng-click="coreEdhubToggleSideNav()">
                Talent Listings
            </md-list-item>
            -->

            <md-list-item data-ng-href="#!/" flex ng-click="coreEdhubToggleSideNav()">
                Special Events
            </md-list-item>

            <md-list-item data-ng-href="#!/" flex ng-click="coreEdhubToggleSideNav()">
                Most Lit Users
            </md-list-item>

            <md-list-item data-ng-href="#!/" flex ng-click="coreEdhubToggleSideNav()">
                Top Bars & Clubs
            </md-list-item>
        </md-list>
    </md-sidenav>
</div>