<section id="edhub-performance-management" class="edhub-view-mtop">
    <h1>Performance Management</h1>
    <ul>
        <li>Task Name</li>
        <li>Task Description</li>
        <li>Point System</li>
    </ul>

    <form name="edhubTask">
        <div layout="row">
            <!-- task description and name fields -->
            <div layout="column" flex="40">
                <md-input-container class="md-icon-float md-block flex-gt-small">
                    <label>Task Name</label>
                    <input type="text" name="taskTitle">
                </md-input-container>
                <md-input-container class="md-icon-float md-block flex-gt-small">
                    <label>Task Description</label>
                    <input type="text" name="taskTitle">
                </md-input-container>
            </div>
            <!-- point system slider -->
            <md-slider-container flex>
                <md-input-container>
                    <input flex="" type="number" ng-model="cPM.points" aria-label="bass" aria-controls="bass-slider"
                           step="10">
                </md-input-container>
                <md-slider md-discrete="" ng-model="bass" min="0" max="100" step="10" aria-label="bass"
                           class="md-primary" md-vertical="" id="bass-slider">
                </md-slider>
                <h5>Points for this task</h5>
            </md-slider-container>
        </div>

    </form>
</section>