<div class="header">
    <h1>Channel: {{ cycChannels.channelName }}</h1>
</div>

<div class="message-wrap" ng-repeat="message in cycChannels.messages">
    <img class="user-pic" ng-src="{{ cycChannels.getGravatar(message.uid) }}" alt="avatar"/>
    <div class="message-info">
        <div class="user-name">
            {{ cycChannels.getDisplayName(message.uid) }}
            <span class="timestamp">{{ message.timestamp | date:'short' }}</span>
        </div>
        <div class="message">
            {{ message.body }}
        </div>
    </div>
</div>

<!-- class="message-form"  -->
<form ng-submit="cycChannels.sendMessage()">
    <div class="input-group">
        <input type="text" class="form-control" ng-model="cycChannels.message"
               placeholder="Type a message...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Send</button>
        </span>
    </div>
</form>